<div class="container">
	<h1 class="display-4 mb-4">Update a website</h1>

	<form action="/requests/create" method="POST" id="create-website-form">

        <div class="form-group">
            <label for="name">Domain</label>
            <input class="form-control" type="text" name="domain" id="domain" placeholder="Domain name" required/>
        </div>

		<div class="form-group">
		    <label for="format">Upload format</label>
		    <input type="file" class="form-control-file" id="format" required>
		</div>

        <button class="btn btn-warning" type="submit">Send request</button>

	</form>

</div>